<?xml version="1.0"?>
<!--Зробіть копію цього файла з іменем "ConnectionStrings.config". 
Всі проекти будуть брати з нього рядок підключення.
Потім налаштуйте його під свої потреби.
Скопійований файл не слід включати в репозиторій.-->
<connectionStrings>
  <add name="StoreContext"
       providerName="System.Data.SqlClient"
       connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=Zorro;Integrated Security=True;" />
</connectionStrings>
