@using Kapitalist.Web.Resources
@model Kapitalist.Web.Client.ViewModels.Tenders.TenderQueryViewModel


<div class="block input-group">
    <label class="input-group-addon control-label">@GlobalRes.ProcurementNumber</label>
    @Html.TextBoxFor(m => m.ProcurementNumber, new {@class = "form-control query", @type="text", @value=Model?.ProcurementNumber })
    <a class="delete input-group-addon col-xd-1">
        <i class="fa fa-times"></i>
    </a>
</div>