@using Kapitalist.Web.Resources
@model string


<div class="block input-group">
    <label class="input-group-addon control-label">@GlobalRes.ProcedureType</label>
    <input name="@Html.Name("ProcedureType")" class="form-control query" type="text" value="@Model"/>
    <a class="delete input-group-addon col-xd-1">
        <i class="fa fa-times"></i>
    </a>
</div>