@model Kapitalist.Web.Client.ViewModels.Profile.DraftsViewModel
@{
    ViewBag.Title = "Drafts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="header-and-body-content">
        <h2>Plan Drafts</h2>

        <div>
            @if (Model?.Drafts != null && (Model?.Drafts).Any())
            {
                foreach (var item in Model.Drafts)
                {
                    <div>
                        <div>@item</div>
                        <a href="@Url.Action("EditPlan", "DraftPlan", new {planGuid = item})">Редактировать</a>
                    </div>
                    <br />
                }
            }

        </div>
    </div>
</div>


