<br />
<div style="margin-top:50px;COLOR:#666666;FONT-SIZE:9pt;font-family:Helvetica,Arial,sans-serif;">
    <p>
        <div>----------------------------------------------</div>
    </p>
    @*<p>
            <div style="FONT-SIZE:14pt"><span style="COLOR:#ee9621">N'</span>counter</div>
            <div>Herchenröder/Zlatkovsky GbR</div>
        </p>
        <p>
            <div>Gerichtstr. 35</div>
            <div>13347 Berlin</div>
        </p>*@
    <p>
        @*<div>Tel:&nbsp;+49&nbsp;30&nbsp;120&nbsp;768&nbsp;54-0</div>
            <div>Fax:&nbsp;+49&nbsp;30&nbsp;120&nbsp;768&nbsp;54-9</div>*@
        <div><a href="mailto:test.capitalist@gmail.com" target="_blank"><span style="COLOR:#666666;TEXT-DECORATION:none">test.capitalist@gmail.com</span></a></div>
        @*<div><a href="http://www.ncounter.de/" target="_blank"><span style="COLOR:#666666;TEXT-DECORATION:none">www.ncounter.de</span></a></div>*@
    </p>
</div>