@model Kapitalist.Web.Client.ViewModels.Published.PlanViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container header-and-body-content">
    <h2>Редактировать План.</h2>
    <h3>Крок 1 з 3</h3>
    @using (Html.BeginForm("EditPlan", "Plan", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        Html.RenderPartial("Plan/CreateEditPlan", Model);

        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" value="Сохранить" class="btn btn-default col-xs-12 col-md-3 square-background-blue btn-lg" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">

            </div>
        </div>
    }
</div>